[submodule "pokemongoldandsilverandcrystalversionbestindividualstrengthspreads"]
	path = pokemongoldandsilverandcrystalversionbestindividualstrengthspreads
	url = https://gist.github.com/kvpb/acdb73106089c7adc448af36a29af0f7.git
